  <li> 
   <p> <%= task.title %> </p>
   <p> &mdash; <%= task.body %> </p>
   <%= button_to "Delete task", task, method: :delete%>
    <% if task.completed == false %>
        <%= button_to "Complete task", task, method: :patch  %>
    <%end%>
  </li>